<ul class="text-justify text-wrap no-bullets" id="messages"></ul>
<form action="/" method="POST" id="chatForm">
    <div class="form-group">
        <div class="row"></div>

        <input id="txt"  autocomplete="off" autofocus="on" oninput="" placeholder="Enter name to join chat"/>

    </div>
    <div class="row">
        <button id="chatButton"  class="btn btn-success">Send
        </button>
        <a id="userNameBtn" href="javascript:void(0);" style="color: wheat;" class="button">Set username</a>
    </div>
</form>

