<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#tipjar"><i

            class="fa"></i>

    <form action="https://www.paypal.com/donate" method="post" target="_top">

        <input type="hidden" name="hosted_button_id" value="ND6QBQ577E7AW"/>

        <input type="image" src="/img/menu/donations.png" width="100%" border="0" name="submit"

               title="PayPal - The safer, easier way to pay online!"

               alt="Donate with PayPal button"/>

        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1"

             height="1"/>
    </form>
</button>
