
    <p>
        <a class="btn" data-toggle="collapse" href="#schedule" role="button" aria-expanded="false"
           aria-controls="schedule">
            <img width="100%" src="img/menu/menu_schedule.png">
        </a>

    </p>
    <div class="collapse" id="schedule">
        <div class="card card-body" style="background-color: transparent; color:wheat;">

            <ul>

                <li class="announcement">FzLH Daily Schedule (CST)</li>

                <li class="announcement">Noon-3pm: Soup, Salad and Siesta</li>

                <li class="announcement">3pm-6pm: Drive Time Tunes</li>

                <li class="announcement">6pm-9pm: Rock Platter with Pop Chaser</li>

                <li class="announcement">9pm-3am: Shredded Metal Sandwich on a Hard Rock Roll.</li>

                <li class="announcement">3am-6am: Mellow Morning Wake Up</li>

                <li class="announcement">6am-9am: Drive Time Tunes</li>

                <li class="announcement"> 9am-noon: Daytime Pop Rock</li>

            </ul>
        </div>
    </div>

